<!-- <ion-header text-center no-border>
  <ion-navbar color="yel">
    <ion-title>
      <img src="assets/imgs/ORANGE-HOUSE1.png" alt="jujia" width='45px'>
    </ion-title>
    <button ion-button icon-only menuToggle>
      <ion-icon name='ios-menu'></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name='search'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ionic-content> -->
  <!-- 导航栏 -->
  <!-- <ul class='navList'>
    <li (click)="isClick(0)"[class.first]="isActive==0">推荐</li>
    <li (click)="isClick(1)"[class.first]="isActive==1">家居</li>
    <li (click)="isClick(2)"[class.first]="isActive==2">餐厨</li>
    <li (click)="isClick(3)"[class.first]="isActive==3">床上用品</li>
  </ul>

</ionic-content> --> -->
