page-home {
    .navList{
        padding-left:0 !important;
        margin: 0;
        height:40px;
        line-height: 40px;
        font: "[PingFang]", 30px ;
        .first{
            color:#535353;
            border-bottom:2px solid #ffdb2c;
        }
        li{
            color: #717171;
            height: 40px;
            text-align: center;
            float: left;
            width: 25%;
        }
    }
    .sli{
        height: auto;
        img{
            width:100%;
        }
    }
    .subtitle{
        letter-spacing: 5px;
    }
    .goods{
        padding:0;
        img{
            width:100%;
        }
        li{
            width:45%;
            position: relative;
            float: left;
            margin:5px 0 5px 3%;
            span{
                display: block;
                width:26px;
                height:26px;
                text-align:center;
                color:red;
                position: absolute;
                background: #fff;
                right:15px;
                bottom:25px;
                line-height: 26px;
                border-radius: 50%;
            }
            p{
                position: absolute;
                width:100%;
                bottom:4px;
                margin:0;
                color:#fff;
                height:30px;
                text-align:center;
                background-color: rgba(0,0,0,0.5);
            }

            ion-scall{
                height:30px;
                margin-bottom:50px;
                white-space:nowrap;
                span{
                    display: inline-block;
                    width:100px;
                    text-align:center;
                }
            }
        }
    }

    // @font-face {
    //     font-family: myFirstFont;
    //     src: url('../../../www/assets/fonts/_-webfont.woff') format('woff2'),
    //          url('../../../www/assets/fonts/_-webfont.woff2') format('woff');
    //     font-weight: normal;
    //     font-style: normal;
    
    // }

    // @font-face {
    //     font-family: myFirstFont;
    //     src: url('../../../www/assets/fonts/_-webfont.woff2') format('woff2'),
    //          url('../../../www/assets/fonts/_-webfont.woff') format('woff');
    //     // font-weight: normal;
    //     // font-style: normal;
    
    // }
    .sli1{
        height:200px;
        img{
            width: 100%;
            // background-color: #3e363c;
        }   
        span{
            font-family:华文行楷;
            color:white;
            font-size:40px;
            position: absolute;
            left:-30px;
            top:0px;
            height: 200px;
            width: 360px;
            // width: 100%;
            background: rgba(32, 32, 32, 0.4);
            line-height: 200px;
        }
        .br1{
            position: absolute;
            width: 90px;
            height: 90px;
            border:solid #fff 1.5px;
            left: 180px;
            top: 40px;
        }
        .br2{
            position: absolute;
            width: 130px;
            height: 90px;
            border:solid #fff 1.5px;
            left: 150px;
            top: 60px;
        }
    }
    .jiaju-bg{
        // width: 25%;
        position: relative;
        // padding:0;
        margin:8px 10px 10px 5%;
        img{
            width: 106.1px;
            height:100px;
            // margin:10px 20px 15px 2%;
             
        }
        span{
            // margin:8px 10px 10px 5%;
            font-family:仿宋;
            color:white;
            font-size:25px;
            position: absolute;
            left:4.6px;
            top:4.6px;
            height: 100px;
            width:100.66px;
            // width: 100%;
            background: rgba(32, 32, 32, 0.4);
            line-height: 100px;
            text-align:center;
        }
        
        
    }
    .jiaju-subtitle{
        letter-spacing: 5px;
    }
    .jiaju-goods{
        padding:0;
        img{
            width:100%;
            height:150px;
        }
        li{
            position:relative;
            width:40%;
            margin:5px 0 5px 7%;
            float:left;
        }
        span{
            display:block;
            width:26px;
            height:26px;
            background-color: #fff;
            border-radius:50%;
            color:red;
            position: absolute;
            bottom:25px;
            right:15px;
            text-align: center;
        }
        p{
            position: absolute;
            width: 100%;
            bottom:4px;
            margin: 0;
            color: #fff;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color:rgba(0,0,0,0.5);
        }
        .goods-bg{
            position: absolute;
            left:0px;
            top:0px;
            height: 150px;
            width:144px;
            background: rgba(32, 32, 32, 0.3);
        }
    }
}
