page-contact {
    .navList{
        padding-left:0 !important;
        margin: 0;
        height:40px;
        line-height: 40px;
        font: "[PingFang]", 30px ;
        .second{
            color:#535353;
            border-bottom:2px solid #ffdb2c;
        }
        li{
            color: #717171;
            height: 40px;
            text-align: center;
            float: left;
            width: 25%;
        }
    }
}
